/*--HEADER--*/
.navbar-link {
  background-color: rgb(241, 240, 240);
  height: 50px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.navbar-link:hover {
  transform: scale(1.2);
  background-color: rgb(98, 237, 98);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 1;
}

.navbar-link a {
  color: black;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-link:hover a {
  color: white;
}

.navbar-link a:hover {
  text-decoration: none;
}

.header {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px;
}

/*--BODY--*/

#CV {
  border-radius: 1rem;
  width: 120%;
  height: 115%;
}

#CV::file-selector-button {
  padding: 7px 14px;
  background-color: rgb(59, 187, 59);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#CV::file-selector-button:hover {
  background-color: rgb(41, 139, 41);
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.circle-button {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgb(9, 124, 9);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circle-button:hover {
  background-color: rgb(98, 237, 98);
}

.circle-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  width: 16px;
  height: 16px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
  margin-left: auto;
}

.btn-custom {
  width: 20%;
  border-radius: 1rem;
  padding: 1.5%;
  background: rgb(68, 211, 68);
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1%;
}

/*--FOOTER--*/
footer {
  background-color: rgb(0, 0, 0);
  padding: 7px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

body {
  margin-top: 20px;
  background: #eee;
}
.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  color: #fff;
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 5rem !important;
  }
}
.contact-info__list span.position-absolute {
  left: 0;
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}
.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 0.625rem 0.625rem;
}

@media (min-width: 1024px) {
  .contact__wrapper {
    border-radius: 0.625rem 0 0.625rem 0.625rem;
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
    padding: 5rem !important;
  }
}
.shadow-lg,
.shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}
