.navbar-link {
    background-color: rgb(241, 240, 240);
    height: 50px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  
  .navbar-link:hover {
    transform: scale(1.2);
    background-color: rgb(98, 237, 98);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 1;
  }
  
  .navbar-link a {
    color: black;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .navbar-link:hover a {
    color: white;
  }
  
  .navbar-link a:hover {
    text-decoration: none;
  }
  
  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }

.pagination-container {
    display: flex;
    justify-content: center;
  }

footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    
  }

  .mdb {
    float: right;
  }

  .map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}